@import url(./quasar.variables.scss);

// app global css in SCSS form
body {
    // notify component colors
    --notify-success: #255B00;
    --notify-error: #880000;
    --notify-neutral: #4D4D4D;
    --notify-info: #008888;
}